body{
    background-color:honeydew;
}

h1{
    color: darkgreen;
    text-align: center;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style:double;
    border-width: 5px;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color:black;
    text-decoration: underline;
}

h5{
    text-align: center;
}

.caixa-texto{
    color: black;
    border-style:groove;
    margin-top: auto;
    
}